<div class="field">
  <%= form.text_field :verification_code %>
</div>
<%= form.hidden_field :handler_name %>

<div class="actions">
  <%= form.submit t("authorize", scope: "decidim.verifications.authorizations.new"), class: "button expanded" %>
</div>